:root {
    --accent-color: #ba944d;
}

body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.floating-input {
    max-width: 500px;
}

#formInput {
    position: relative;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

#formInput h3 {
    color: var(--accent-color);
}

.reset-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.input-group .input-group-text {
    color: var(--accent-color);
}

.error-field {
    display: none;
}

#emptyTableWarning {
    display: none;
}

@keyframes rowHighlight {
    0% {
        background-color: #a3dfb1;
    }

    50% {
        background-color: #a3dfb1;
    }
}

.highlight-row {
    animation: rowHighlight var(--highlight-duration, 1.5s) ease-out;
}

.highlight-row>* {
    animation: rowHighlight var(--highlight-duration, 1.5s) ease-out;
}